HaierAppTest/Web References/com.boldseas.acgserver/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acgserver.boldseas.com/Service/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Haier.Model" />
  <xs:import schemaLocation="http://acgserver.boldseas.com/Service/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Haier.Enumerations" />
  <xs:import schemaLocation="http://acgserver.boldseas.com/Service/AccountService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetUserListByPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="searchInfo" nillable="true" type="q1:UserSearchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByParaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetUserListByParaResult" nillable="true" type="q2:ArrayOfSYS_User" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetBaseRoleResult" nillable="true" type="q3:ArrayOfSYS_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseUserRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetBaseUserRoleResult" nillable="true" type="q4:ArrayOfSYS_UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetUserRoleByUserIDResult" nillable="true" type="q5:ArrayOfSYS_UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseModule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetBaseModuleResult" nillable="true" type="q6:ArrayOfSYS_Module" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseModuleFun">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseModuleFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetBaseModuleFunResult" nillable="true" type="q7:ArrayOfSYS_Module_Fun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseRoleFun">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseRoleFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetBaseRoleFunResult" nillable="true" type="q8:ArrayOfSYS_Role_Fun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q9:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="UserLoginResult" type="q10:UserFeedbackStatus" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="userInfo" nillable="true" type="q11:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetUserInfoByIdResult" nillable="true" type="q12:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByTypeAndOrgnizationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="orgnizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByTypeAndOrgnizationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetUserInfoByTypeAndOrgnizationIdResult" nillable="true" type="q13:ArrayOfSYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetAllUserResult" nillable="true" type="q14:ArrayOfSYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgnizationId" type="xs:int" />
        <xs:element minOccurs="0" name="roleid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetUserByRoleResult" nillable="true" type="q15:ArrayOfSYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWebUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWebUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetAllWebUserResult" nillable="true" type="q16:ArrayOfWeb_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="GetWebUserByIdResult" nillable="true" type="q17:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserInfoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="input" nillable="true" type="q18:CheckRegUserInfoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserInfoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="CheckUserInfoExistsResult" nillable="true" type="q19:CheckRegUserInfoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q20:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="WebUserLoginResult" type="q21:UserFeedbackStatus" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="userInfo" nillable="true" type="q22:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q23:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="ChangePasswordResult" type="q24:UserFeedbackStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="userInfo" nillable="true" type="q25:SYS_User" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="check" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="userInfo" nillable="true" type="q27:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="userInfo" nillable="true" type="q28:SYS_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q29:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="UserRegistResult" type="q30:RegisterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBBSUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q31:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBBSUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="UpdateBBSUserIDResult" type="q32:DataIOStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCodeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="info" nillable="true" type="q33:Web_CodeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCodeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="InsertCodeInfoResult" type="q34:SMSCheckStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Haier.Model" minOccurs="0" name="model" nillable="true" type="q35:Web_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Haier.Enumerations" minOccurs="0" name="UpdateWebUserInfoResult" type="q36:DataIOStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>